In [13]:
import pandas as pd
import numpy as np
import os

In [31]:
path = 'C:\\Users\\LSH\\Desktop\\효돌\\data_csv\\data'
os.chdir(path)
survey=pd.read_excel('survey.xlsx',header=1)#, '테스트계정정보')['host_user_id']

In [32]:
survey

,id,id_guro,GP,sub_gp,SERIAL,born,age,sex,type1,type2,...,dq7_1,dq7_2,dq7_3,dq7_4,dq7_5,dq7_6,dq7_7,DISE1,DISE2,DISE3
0,NaN,125321,광양,NaN,02N190200348,1935,85,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,125359,광양,NaN,02N190200262,1941,79,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
2,NaN,209,구로,구로어르신돌봄통합센터,NaN,1949,70,여,기초생활수급,독거,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
3,126917,41,구로,구로어르신돌봄통합센터,NaN,1936,83,여,차상위,독거,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
4,NaN,125368,광양,NaN,02N190200022,1939,81,여,NaN,NaN,...,아침 식전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,NaN,125462,광양,NaN,NaN,1943,77,여,NaN,NaN,...,아침 식전,아침 식후,점심 식전,점심 식후,저녁 식전,저녁 식후,NaN,NaN,NaN,NaN
597,126854,84,구로,구로어르신돌봄통합센터,NaN,1936,83,여,차상위,독거,...,아침 식전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,127026,178,구로,온수어르신복지관,NaN,1944,75,남,기초생활수급,노인부부,...,NaN,아침 식후,NaN,점심 식후,NaN,저녁 식후,NaN,NaN,NaN,NaN
599,NaN,125062,광양,NaN,02N190200078,1945,75,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,취침 전,NaN,NaN,NaN
600,NaN,8,대전 동구,NaN,NaN,1947,73,여,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 변수 치환
1. `sex` : 여:1, 남0
2. `type` : 기초생활수급 : 0 , 차상위 :1
3. `pa1~pa10` , `sgd`가 들어간, `A1~A12`, `p_a`가 들어간 : 예:1, 아니오 : 0
4. `dq1~dq2` : 유:1, 무:0
5. `dq3` : 무자녀:0
6. `dq4` : 상:2, 중:1, 하:0
7. `D1,D2,D5,D6,D7`, `p_d`가 들어간, `P_D7` : 일정 하지 않음:1,때에 따라:2,매일 규칙적:3
8. `D3` : 
    - 매일 정확한 시간에 약을 복용하고 있음 : 3
    - 가끔 약 먹는 것을 잊어 먹을 때가 있음 : 2
    - 매번 약 먹는 것을 잊어 먹음 : 1

9. `D4` :
    - 매일 규칙적 세끼 식사하고 있음 : 3
    - 가끔 식사시간 놓침 : 2
    - 거의 매번 식사 시간 놓침 :1

10.`D8` :
    - 매우 긍정적 : 3
    - 조금 있음 : 2
    - 거의 없음 : 1


11. `j1~j4` :
    - 그렇다 : 3
    - 보통  : 2
    - 그렇지 않다 : 1


## 변수 생성
12. 변수 생성
- `type3` $\rightarrow$ `type3_binary` : '없음'이면 0, 나머지는 1

## 변수 인코딩
13. 라벨인코딩할 칼럼
- `['type2','type3','house','dq5','dq6']`
- `'dq8'` 포함한 칼럼

## 변수 제거
14. unique한 칼럼 제거
15. `i1~i11`제거
16. `DISE1~DISE4` 제거
17. `born`(탄생년도) 제거 ( 어차피 나이(`age`) 있음 )

In [33]:
def cols_with_str(df,str_list):
    col_list=[]
    cols = df.columns
    for str_ in str_list:
        temp=list(cols[cols.str.contains(str_)])
        col_list.extend(temp)
    return col_list

### 변수 치환

In [34]:
survey

,id,id_guro,GP,sub_gp,SERIAL,born,age,sex,type1,type2,...,dq7_1,dq7_2,dq7_3,dq7_4,dq7_5,dq7_6,dq7_7,DISE1,DISE2,DISE3
0,NaN,125321,광양,NaN,02N190200348,1935,85,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,125359,광양,NaN,02N190200262,1941,79,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
2,NaN,209,구로,구로어르신돌봄통합센터,NaN,1949,70,여,기초생활수급,독거,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
3,126917,41,구로,구로어르신돌봄통합센터,NaN,1936,83,여,차상위,독거,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,NaN,NaN,NaN,NaN
4,NaN,125368,광양,NaN,02N190200022,1939,81,여,NaN,NaN,...,아침 식전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,NaN,125462,광양,NaN,NaN,1943,77,여,NaN,NaN,...,아침 식전,아침 식후,점심 식전,점심 식후,저녁 식전,저녁 식후,NaN,NaN,NaN,NaN
597,126854,84,구로,구로어르신돌봄통합센터,NaN,1936,83,여,차상위,독거,...,아침 식전,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,127026,178,구로,온수어르신복지관,NaN,1944,75,남,기초생활수급,노인부부,...,NaN,아침 식후,NaN,점심 식후,NaN,저녁 식후,NaN,NaN,NaN,NaN
599,NaN,125062,광양,NaN,02N190200078,1945,75,여,NaN,NaN,...,NaN,아침 식후,NaN,NaN,NaN,저녁 식후,취침 전,NaN,NaN,NaN
600,NaN,8,대전 동구,NaN,NaN,1947,73,여,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# sex
survey['sex']=survey['sex'].replace({'여':1,'남':0})

# type1
survey['type1']=survey['type1'].replace({'기초생활수급':0,'차상위':1})

# pa1가 들어간 / sgd가 들어간 / A1~A12 /p_a들어간
cols_=cols_with_str(survey,['pa','sgd','p_a'])+['A'+str(i) for i in range(1,13)]
survey[cols_]=survey[cols_].replace({'예':1,'아니오':0})

# dq1~dq2
survey[['dq1','dq2']]=survey[['dq1','dq2']].replace({'유':1,'무':0})

# dq3
survey['dq3']=survey['dq3'].replace({'무자녀':0})

# dq4
survey['dq4']=survey['dq4'].replace({'상':2,'중':1,'하':0})

# dq7_1
# ( fill NA = 0 할 것! )
survey['dq7_1']=survey['dq7_1'].replace({'아침 식전':1,'복용약 없음':0})
survey['dq7_2']=survey['dq7_2'].replace({'아침 식후':1,'복용약 없음':0})
survey['dq7_3']=survey['dq7_3'].replace({'점심 식전':1,'복용약 없음':0})
survey['dq7_4']=survey['dq7_4'].replace({'점심 식후':1,'복용약 없음':0})
survey['dq7_5']=survey['dq7_5'].replace({'저녁 식전':1,'복용약 없음':0})
survey['dq7_6']=survey['dq7_6'].replace({'저녁 식후':1,'복용약 없음':0})
survey['dq7_7']=survey['dq7_7'].replace({'취침 전':1,'복용약 없음':0})
survey[cols_with_str(survey,['dq7'])].fillna(0,inplace=True)

# D1,D2,D5,D6,D7, p_d가 들어간 / p_D7
cols_ = cols_with_str(survey,['p_d']) + ['D1','D2','D5','D6','D7','P_D7']
survey[cols_]=survey[cols_].replace({'일정 하지 않음':1,'때에 따라':2,'매일 규칙적':3})

# D3
survey['D3']=survey['D3'].replace({'매일 정확한 시간에 약을 복용하고 있음':3,
                                   '가끔 약 먹는 것을 잊어 먹을 때가 있음':2,
                                   '거의 매번 약 먹는 것을 잊어 먹음':1})

# D4
survey['D4']=survey['D4'].replace({'매일 규칙적 세끼 식사하고 있음':3,
                                  '가끔 식사시간 놓침':2,
                                  '거의 매번 식사 시간 놓침':1})
    

# D8
survey['D8']=survey['D8'].replace({'매우 긍정적':3,'조금 있음':2,'거의 없음':1})

# j1~j4
cols_ = ['j1','j2','j3','j4']
survey[cols_]=survey[cols_].replace({'그렇다':3,'보통':2,'그렇지 않다':1})

C:\Users\LSH\Anaconda3\lib\site-packages\pandas\core\frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

### 변수 생성

In [36]:
survey['type3_binary']= [0 if i =='없음' else 1 for i in survey['type3']]

In [37]:
survey['dq7_2'].value_counts()

1.0    419
Name: dq7_2, dtype: int64

### 변수 제거

In [39]:
survey[survey.columns[survey.columns.str.contains('dq7_')]]=survey[survey.columns[survey.columns.str.contains('dq7_')]].fillna(0)

drop_cols=[]
drop_cols.extend(list(survey.columns[survey.nunique()==1]))
drop_cols.extend(['i'+str(i) for i in range(1,11)])
drop_cols.extend(['DISE'+str(i) for i in range(1,4)])
drop_cols.extend(['born'])
survey=survey.drop(drop_cols,axis=1)

### 변수 인코딩

- dq8~로 시작하는, 질병 종류 묻는 문제임에도 불구하고 '숫자'가 들어간 이상한 경우는 NA로
- label인코딩 된 값 앞에 'cat'가 붙게 끔!

In [40]:
from sklearn import preprocessing

def label_encode(survey,col):
    le = preprocessing.LabelEncoder()
    survey[col][pd.to_numeric(survey[col], errors='coerce').notnull()]=np.nan
    le.fit(survey[col])
    survey[col]=le.transform(survey[col])
    survey[col]=['cat'+str(i) for i in survey[col]]

In [41]:
cols_for_label_encode=['GP','sub_gp','type2','type3','house','dq5','dq6']
cols_for_label_encode.extend(survey.columns[survey.columns.str.contains('dq8')])

survey['dq8_1']=survey['dq8_1'].replace({20:np.nan,44:np.nan,91:np.nan})
survey['dq8_2']=survey['dq8_2'].replace({4:np.nan,39:np.nan,49:np.nan,91:np.nan})
survey['dq8_3']=survey['dq8_3'].replace({44:np.nan})


for col in cols_for_label_encode:
    label_encode(survey,col)

C:\Users\LSH\AppData\Local\Temp/ipykernel_25032/1340014385.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey[col][pd.to_numeric(survey[col], errors='coerce').notnull()]=np.nan

In [42]:
survey['reli']=['cat'+str(i) for i in  survey['reli'].fillna('999')]
survey['reli']=survey['reli'].replace({'cat999':np.nan})

In [43]:
survey.shape

(601, 124)

In [44]:
survey

,id,id_guro,GP,sub_gp,SERIAL,age,sex,type1,type2,type3,...,time4,time5,dq7_1,dq7_2,dq7_3,dq7_4,dq7_5,dq7_6,dq7_7,type3_binary
0,NaN,125321,cat0,cat9,02N190200348,85,1.0,NaN,cat3,cat7,...,18:00:00,22:00:00,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,NaN,125359,cat0,cat9,02N190200262,79,1.0,NaN,cat3,cat7,...,18:00:00,21:00:00,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
2,NaN,209,cat1,cat2,NaN,70,1.0,0.0,cat2,cat1,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
3,126917,41,cat1,cat2,NaN,83,1.0,1.0,cat2,cat1,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
4,NaN,125368,cat0,cat9,02N190200022,81,1.0,NaN,cat3,cat7,...,18:00:00,00:00:00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,NaN,125462,cat0,cat9,NaN,77,1.0,NaN,cat3,cat7,...,18:00:00,22:00:00,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1
597,126854,84,cat1,cat2,NaN,83,1.0,1.0,cat2,cat1,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
598,127026,178,cat1,cat7,NaN,75,0.0,0.0,cat1,cat7,...,NaN,NaN,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1
599,NaN,125062,cat0,cat9,02N190200078,75,1.0,NaN,cat3,cat7,...,18:00:00,12:00:00,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1
600,NaN,8,cat2,cat9,NaN,73,1.0,NaN,cat3,cat7,...,19:00:00,22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [46]:
!pwd

/c/Users/LSH/Desktop/�슚�룎/data_csv/data

In [45]:
survey.to_csv('survey_preprocessed.csv',index=False)

In [ ]:
pd.read_csv('survey_preprocessed.csv')